{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <p>食材1には, 食材を必ず入力してください。</p>
    <form method="POST">
        <div class="mb-3">
            <label for="material1" class="form-label">食材1</label>
            <input type="text" class="form-control" id="material1" name="material1">
        </div>
        <div class="mb-3">
            <label for="material2" class="form-label">食材2</label>
            <input type="text" class="form-control" id="material2" name="material2">
        </div>
        <div class="mb-3">
            <label for="material3" class="form-label">食材3</label>
            <input type="text" class="form-control" id="material3" name="material3">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">検索</button>
        </div>
    </form>
</div>
{% endblock %}